<div class="container">
  <div>
    <select data-bind="selectedRegion">
      <option value="">全国</option>
      <template data-bind="regions">
        <option data-bind="regions.*">{regions.*}</option>
      </template>
    </select>
  </div>

  <div>
    <table class="table table-striped">
      <colgroup>
        <col class="col-md-3">
        <col class="col-md-3">
        <col class="col-md-2">
        <col class="col-md-2">
        <col class="col-md-2">
      </colgroup>
      <thead>
        <tr>
          <th class="text-center">都道府県名</th>
          <th class="text-center">県庁所在地</th>
          <th class="text-center">人口(人)</th>
          <th class="text-center">比率：地方（%）</th>
          <th class="text-center">比率：全国（%）</th>
        </tr>
      </thead>
      <tbody>
        <template data-bind="prefectures">
          <tr>
            <td class="text-center">{prefectures.*.name}</td>
            <td class="text-center">{prefectures.*.capital}</td>
            <td class="text-right" data-bind="class.over:prefectures.*.population|ge,5000000; class.under:prefectures.*.population|lt,1000000;">{prefectures.*.population|localeString}</td>
            <td class="text-right">{prefectures.*.populationRateOfRegion|fixed,2}</td>
            <td class="text-right">{prefectures.*.populationRate|fixed,2}</td>
          </tr>
        </template>
      </tbody>
      <tfoot>
        <tr data-bind="style.display:selectedRegion|truthy|styleDisplay">
          <td class="text-center" colspan="2">地方合計</td>
          <td class="text-right">{sumPopulationOfRegion|localeString}</td>
          <td colspan="2"></td>
        </tr>
        <tr>
          <td class="text-center" colspan="2">全国合計</td>
          <td class="text-right">{sumPopulation|localeString}</td>
          <td colspan="2"></td>
        </tr>
      </tfoot>
    </table>
    
  </div>

</div>

